
<!-- Header -->
<div id="header">
	<div class="shell">
		<h1 id="logo" class="notext"><a href="#">Plain Plan - Keep youy website simple</a></h1>
		<div id="navigation">
			<ul>
			    <li><a href="#" class="active">Główna</a></li>
			    <li><%= link_to ('Zawody'), '/page/Zawody' %></li>
			    <li><%= link_to ('Galeria'), '/page/Galeria' %></li>
			    <li><%= link_to ('O nas'), '/page/O_nas' %></li>
			    <li><%= link_to ('Kontakty'), '/page/Kontakty' %></li>
			</ul>
		</div>
	</div>
</div>
<!-- End Header -->
<!-- Slider -->
<div id="slider">
	<div class="shell">
		<div class="slider-left">
			<h2>Шахова мудрість</h2>
			<p>Якщо не знаєш що робити - роби розвиваючий хід.</p>
		</div>
		<div class="slider-right">
			<div class="slider-content">
				<ul>
				    <li><img src="<%= image_url('slider-image.jpg') %>" alt="" /></li>
				    <li><img src="<%= image_url('slider-image.jpg') %>" alt="" /></li>
				    <li><img src="<%= image_url('slider-image.jpg') %>" alt="" /></li>
				    <li><img src="<%= image_url('slider-image.jpg') %>" alt="" /></li>
				    <li><img src="<%= image_url('slider-image.jpg') %>" alt="" /></li>
				</ul>
			</div>
			<div class="slider-nav">
				<ul>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Slider -->
<!-- Main -->
<div id="main">
	<div class="shell">
		<div id="sidebar">
			<div class="text-container">
				<h2>Harmonogram zajęć</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<div class="post">
				<h2>Jesteśmy na facebooku</h2>				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt </p>
			</div>
		</div>
		<div id="content">
			<div class="col">
				<div class="post">
					<h2>O szachach</h2>					
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. </p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. </p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. </p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. </p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. </p>
					<div class="cl">&nbsp;</div>					
				</div>
			</div>		
		</div>
		<div class="cl">&nbsp;</div>
	</div>
</div>
<!-- End Main -->
<!-- Footer -->
<div id="footer">
	<div class="shell">
		<p class="left">
			<a href="/">Główna</a>
			<span>|</span>
			<%= link_to ('Zawody'), '/page/Zawody' %>
			<span>|</span>
			<%= link_to ('Galeria'), '/page/Galeria' %>
			<span>|</span>
			<%= link_to ('O nas'), '/page/O_nas' %>
			<span>|</span>
			<%= link_to ('Kontakty'), '/page/Kontakty' %>
		</p>
		<p class="right">
			Copyright &copy; ChessLublin 2017 | Valid CSS &amp; HTML | Design by <a href="http://profelis.com.pl" target="_blank" title="profelis.com.pl">profelis.com.pl</a>
		</p>
	</div>
</div>
<!-- End Footer -->
</body>
</html>